@import url(./style.css);

/* MEDIA QUERIES */

/* HEADER */
@media (max-width: 400px){
    .header .content h1{
        font-size: 3rem;
    }
}

/* ABOUT */
@media (max-width: 900px) {
    .about_me{
        flex-direction: column-reverse;
    }
    .about_me img{
        width: 100%;
    }
}

@media (max-width: 400px){
    .about_me p{
        font-size: 1.1rem;
    }
}

/* WORK */
@media(max-width: 500px){
    .work .work_bottom{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        row-gap: 0;
    }
}
@media(max-width: 400px){
    .work .work_bottom{
        grid-template-columns: repeat(1, 1fr);
    }

    .work .content li{
        font-size: 1.1rem;
    }
}

@media(min-width: 576px){
    .work .work_bottom{
        grid-template-columns: repeat(4, 1fr);
    }
}

/* IMAGE GALLERY */
@media (max-width: 900px){
    .image_gallery .portfolio{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 700px){
    .image_gallery .portfolio{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media(max-width: 768px){
    .container .popup_image img{
        width: 90%;
    }
}


/* CONTACT */
@media (max-width: 1000px){
    .contact_content{
        flex-direction: column;
    }
    .contact_right img{
        display: none;
    }
}

/* FOOTER */
@media (max-width: 400px) {
    .footer .nav li{
        font-size: 1.4rem;
    }
}